<html>
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    <main>
      <div class="jumbotron">
        <h1>Sobre mim</h1>
        <p>Oi, sou Vitória Souza</p>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
